.AnswerInput-container {
    display: flex;
}

.AnswerInput-inputContainer {
    font-family: var(--font);
    font-size: var(--m);

    color: var(--white);
    background-color: var(--black);
    border-radius: 0.25em;
}

.AnswerInput-inputContainerCorrect:disabled{
    color: var(--green);
    border: 2.5px solid var(--green);
}

.AnswerInput-inputContainerUsedLimit:disabled {
    color: var(--red);
    border: 2.5px solid var(--red);
}

