.ButtonPage-buttonContainer {
    display: flex;
    justify-content: space-around;
}

.ButtonPage-button,
.ButtonPage-button:visited{
    background-color: var(--darkgrey);
    padding: 0.5em;

    border-radius: 0.5em;
    border: none;

    outline: none;
    color: var(--white);

    font-family: var(--font);
    font-size: var(--l);
    opacity: 1.0;
}

.ButtonPage-button:hover {
    border: 5px solid var(--white);
}