.FindHunts-container {
    margin: 1.5em 9em 1.5em 9em;
    padding: 2.5em;
    border: 0.25em solid var(--white);
    border-radius: 1.5em;
}

.FindHunts-title {
    margin: 0.5em;
}

.FindHunts-instruction {
    font: var(--font);
    font-size: var(--l);
}