.Profile-container {
    margin: 1.5em 15em 1.5em;
    padding: 2.5em;

    font-size: var(--l);
    background-color: var(--medgrey);
    border-radius: 1em;
}

.Profile-name{
    /* it is optional, for making this div centered in parent*/
    margin: 1.5em;
    text-align: center;
}
.Profile-iconContainer {
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Profile-iconAnimation{
    animation: rotate-jump 1s infinite;
}

.Profile-awardContainer {
    background-color: var(--darkgrey);
    margin: 0.5em;
    padding: 1em;
    border-radius: 0.5em;
}

.Profile-awardText {
    color: var(--gold--yellow);
}
.Profile-tagContainer {
    font-weight: normal;

    display: inline-block;
    margin: 0.25em;
    padding: 0.25em;
    border-radius: 0.25em;
    border: 0.125em solid var(--gold--yellow);
}


/* https://css-tricks.com/making-css-animations-feel-natural/ */

@keyframes rotate-jump {
    0%  { transform: rotateZ(45deg) translate(1em, -2em)}
    50% { transform: rotateZ(-45deg) translate(-1em, -2em)}
    100% { transform: rotateZ(45deg) translate(1em, -2em)}
}