.NavBar-container {
    padding: 0.5em 1em 0.5em;
    background-color: var(--darkgrey);
    border-bottom: 7px solid var(--blue--purple);
    font-size: var(--l);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Navbar-labelContainer {
    background-color: var(--medgrey);
    padding: 0.5em;
    border-radius: 0.25em;
}
.Navbar-button,
.Navbar-button:visited{
    background-color: var(--darkgrey);
    border: none;
    outline: none;
    color: var(--white);

    font-family: var(--font);
    font-size: var(--l);
    opacity: 1.0;
}

.Navbar-button:hover{
    opacity: 0.7;
    border: none;
}