.PlayHuntItem-container{
    background-color: var(--medgrey);
    border-radius: var(--l);
    font-size: var(--l);
    margin: 1.5em 6em 1.5em;
    padding: 1em;
}

.PlayHuntItem-itemScoreboardContainer {
    display: grid;
    grid-template-columns: 3fr 1fr;
}