.SingleHuntShortcut-container{
    background-color: var(--medgrey);
    border-radius: var(--l);
    /* border: 5px var(--white); */
    font-size: var(--l);

    padding: 0.5em;
    margin: 1.5em 0em 1.5em;

    display: flex;
    justify-content: space-between;
}

.SingleHuntShortcut-info{
    width: 100%;
    padding: 0.5em;
}

.SingleHuntShortcut-titleButton {
    margin-right: 0.25em;
    width: 60%;
    height: auto;
    display: flex;
    align-items: center;
}

.SingleHuntShortcut-title {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.SingleHuntShortcut-description{
    font-size: var(--m);
}

.SingleHuntShortcut-outerContainer:hover{
    transform: scale(1.03);
}

.SingleHuntShortcut-outerContainer > .SingleHuntShortcut-container :hover{
    transform: scale(1.0);
}
.SingleHuntShortcut-playbutton{
    width: 40px;
    height: 40px;
    display: block;

    /* make it a circle */
    border-radius: 50%;
    border: none;
    outline: none;

    background-color: var(--darkgrey);

    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;

    background-image: url("../../public/play_circle_filled_white_24px.svg");
    /* top: 0; */
    bottom: 0;
}

.SingleHuntShortcut-playbutton:hover {
    opacity: 0.7;
    border: none;
}
