.SingleHuntShortcut-container{
    background-color: var(--medgrey);
    border-radius: var(--l);
    /* border: 5px var(--white); */
    font-size: var(--l);

    margin: 1.5em;
    padding: 0.5em;

    display: flex;
    justify-content: space-between;
}

.SingleHuntShortcut-info{
    padding: 0.5em;
}

.SingleHuntShortcut-description{
    font-size: var(--m);
}

.SingleHuntShortcut-outerContainer :hover{
    transform: scale(1.03);
}

.SingleHuntShortcut-outerContainer > .SingleHuntShortcut-container :hover{
    transform: scale(1.0);
}

.SingleHuntShortcut-playbutton{
    width: 40px;
    height: 40px;
    display: block;
    /* div height to be the same as width*/
    padding-top: 100%;
    margin-top: 50%;

    /* make it a circle */
    border-radius: 50%;
    border: none;
    outline: none;

    background-color: var(--darkgrey);

    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;

    background-image: url("../../public/play_circle_filled_white_24px.svg");
}

.SingleHuntShortcut-playbutton:hover {
    opacity: 0.7;
    border: none;
}
